<div class="form-group">
	<label>Feedly Category</label>
	<select class="form-control" name="category">
		{% for category in categories %}
		<option value="{{ category.id }}" {% if trigger.category_id == category.id %}selected{% endif %}>{{ category.label }}</option>
		{% endfor %}
	</select>
</div>
<div class="form-group">
	<label>Mark Article As Read</label>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="mark_as_read" {% if trigger.mark_as_read or creating %}checked="checked"{% endif %}> Mark article as read after linqueing.
		</label>
	</div>
</div>